h1,
p {
  font-family: Lato;
}

.posts-wrapper {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 24% 24% 24% 24%;
  grid-row-gap: 10px;
  grid-template-rows: auto;
}

.post-items {
  height: 100px;
  background: red;
}

.post-details {
  width: 75%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dadada;
  padding: 10px;
  min-height: 90vh;
}

.post-container {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}

.comment-wrapper {
  margin-top: 20px;
}

.comment-header {
  font-weight: 600;
  font-size: 20px;
}

.post-body {
  font-size: 20px;
  /* min-height: 80vh; */
}

.comment-items {
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #dadada;
  border-radius: 10px;
}

.comment-autor-name {
  font-weight: 600;
}

.comment-body {
}
