h1,
p {
  font-family: Lato;
}

.posts-wrapper {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 24% 24% 24% 24%;
  grid-row-gap: 10px;
  grid-template-rows: auto;
}

.post-items {
  height: 100px;
  background: red;
}
